
EclipseGame/UserSettings/Layouts/default-2021.dwlt
EclipseGame/UserSettings/Layouts/CurrentMaximizeLayout.dwlt
EclipseGame/Logs/shadercompiler-UnityShaderCompiler.exe0.log
EclipseGame/Library/StateCache/SceneView/8c/8cd7c613bf844de3b80696e27a479d5e.json
EclipseGame/Library/SourceAssetDB
EclipseGame/Library/SceneVisibilityState.asset
EclipseGame/Library/Bee/TundraBuildState.state.map
EclipseGame/Library/Bee/TundraBuildState.state
EclipseGame/Library/Bee/tundra.log.json
EclipseGame/Library/Bee/tundra.digestcache
EclipseGame/Library/Bee/fullprofile.json
EclipseGame/Library/Bee/backend_profiler0.traceevents
EclipseGame/Library/ArtifactDB
